/**
 * Webtra.SoftwareDelivery - https://webtranet.online/wappstower/Webtra.SoftwareDelivery
 *
 * @link      https://gitlab.com/webtranet/Webtra.SoftwareDelivery.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

iframe
{
	position: fixed;
	top: 35px;
	height: calc(100vh - 35px);
	left: 0;
	width: 100%;

	border: none;
}