body
{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
	color: #404040;
}

table
{
	width: 100%;
	background: white;
	border: 0;
	table-layout: auto;
}

table thead
{
	background: #efefef;
}

table tr th,
table tr td
{
	padding: 0.5625rem 0.625rem;
	font-size: 0.875rem;
	color: #222222;
	text-align: left;
	line-height: 1.125rem;
}

table thead tr th
{
	padding: 0.5rem 0.625rem 0.625rem;
	font-weight: bold;
}

table tr:nth-child(even)
{
	background: whitesmoke;
}

a
{
	text-decoration: none;
	color: #3498db;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	color: #8e44ad;
}

.img-wrap
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
	width: 16px;
	height: 16px;
}

.img-wrap img
{
	display: block;
	width: 100%;
	height: 100%;
	max-width: none;
	object-fit: contain;
}

.img-wrap + a
{
	display: inline-block;
	vertical-align: middle;
}

.hidden
{
	display: none;
}

#page-header
{
	display: flex;
	align-items: center;
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

#search
{
	display: block;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	margin-left: 1rem;
	-webkit-appearance: textfield;
}

#search:focus
{
	border-color: #3498db;
	outline: 0;
}

.indexcolicon
{
	width: 16px;
}

/* Hide extra columns so they don't squash file names */
@media (max-width: 600px)
{
	.indexcollastmod,
	.indexcoldesc,
	.indexcolsize
	{
		display: none;
	}

	h1
	{
		font-size: 1.5em;
	}

	#page-header
	{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 1em
	}

	#search
	{
		margin-left: 0;
	}
}

@media (max-width: 400px)
{
	h1
	{
		font-size: 1.375em;
	}
}
